@import '~bootstrap/scss/functions';
@import './custom.scss';
@import '~bootstrap/scss/bootstrap';

.search-bar {
	input {
		&.rounded-top {
			border-radius: 0.3rem 0.3rem 0rem 0rem;
		}
	}
	*:focus {
		outline: 1px dashed $blue;
		outline-offset: 4px;
	}
}
